{% extends 'main.html' %}

{% block title %}SocialFeed{% endblock %}


{% block content %}
    <div class="text-center my-3">
        <h3>Hi, {{ request.user }}</h3>
    </div>

    <div class='bg-light py-2'>
        <div class="text-center">
            <form action="" method="POST">
                {{ post_form.post_text }}
                {% csrf_token %}
                <input type="submit" value="Post">
            </form>
        </div>

        {% for post in posts %}
            {% include "Posts/post.html" %}
        {% endfor %}

        {% include "Accounts/pagination.html" with page_obj=posts %}

    </div>
{% endblock %}