{% extends 'main.html' %}

{% block title %}SocialFeed{% endblock %}

{% block content %}
    <div class="text-center my-3">
        <h3>Hi, {{ request.user }}</h3>
    </div>

    <div class='bg-light py-2'>
        <div class="text-center">
            <form action="{% url "Posts:add_post" %}" method="POST" class="d-flex justify-content-center my-2">
                {{ post_form.post_text }}
                {% csrf_token %}
                <input type="submit" value="Post" class="btn btn-outline-primary align-self-end ml-2">
            </form>
        </div>

        {% for post in posts %}
            {% include "Posts/post.html" %}
        {% endfor %}

        {% include "Accounts/pagination.html" with page_obj=posts %}

    </div>
{% endblock %}