{% extends "main.html" %}

{% block title %}Search results{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6 my-5 py-lg-5">
        <header>
            <p class=" h3 text-center">Search results:</p>
        </header>
    </div>
    <div class="bg-white col-md-8 col-lg-5 rounded my-lg-5 text-center mx-auto small">
        {% for result in results %}
            <div class="d-inline-flex mb-2">
                <a class="text-decoration-none" href="{% url 'Accounts:profile_view' result %}">{{ result }}<br>
                    <img src="{{ result.profile.profile_picture.url }}" alt="" id="profile_pic" width="100">
                </a>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}