{% extends "main.html" %}

{% block title %} {{user}} {% endblock %}

{% block content %}

<div class="row">
    <div class="bg-light col-md-8 col-lg-4 rounded my-lg-5 text-center mx-auto small">
        <!--username-->
        <header>
            {% if user.profile.firstname or user.profile.lastname %}
                <p class="h3 text-center">{{ user.profile.firstname }} {{ user.profile.lastname }}</p>
            {% else %}
                <p class="h3 text-center">{{ user.username }}</p>
            {% endif %}
        </header>
        <!--profile pic-->
        <div id="profile_pic_div">
            <img src="{{ user.profile.profile_picture.url }}" alt="" id="profile_pic">
        </div>
        <!--profile data-->
        {{ user.profile.city }}<br>
        {{ user.profile.country }}<br>
        {{ user.profile.date_of_birth }}<br>
        {{ user.profile.gender }}<br>
        {{ user.profile.motto }}<br>
        {{ user.profile.bio }}<br>
        <hr>
            <!--invitations-->
            {% if user != request.user and request.user.profile in contacts %}
                Invitation sent
            {% elif user != request.user and user not in request.user.profile.friends.all %}
                <form action="{% url 'Accounts:invite' user.username %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">Invite</button>
                </form>
            {% elif user != request.user and user in request.user.profile.friends.all %}
                You and {{ user.username }} are friends <a href="{% url "Accounts:delete_friend" user.username %}" class="ml-3 text-decoration-none">delete</a>
            {% endif %}

            <div class="flex-column">
                {% if user == request.user %}
                    {% for invite in my_invites %}
                    <div class="d-flex justify-content-center">
                        <p class="mr-1"><a href="{% url "Accounts:profile_view" invite.sender %}">{{ invite.sender }}</a> invited you to friends</p>
                        <form action="{% url 'Accounts:accept' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{invite.sender}}">
                            <button type="submit" class="btn btn-primary btn-sm">Accept</button>
                        </form>
                        <form action="{% url 'Accounts:reject' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="username" value="{{invite.sender}}">
                            <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    </div>  
                    {% endfor %}
                {% endif %}
            </div>
        <!--friends-->
        <h4>Friends:</h4>
        {% for friend in friends %}
            <div class="d-inline-flex mb-2">
                <a class="text-decoration-none" href="{% url 'Accounts:profile_view' friend %}">{{ friend }}<br>
                    <img src="{{ friend.profile.profile_picture.url }}" alt="" id="profile_pic" width="100"></a>
            </div>
        {% endfor %}<br>
        <a href="{% url "Accounts:user_friends" user.username %}">View all {% if request.user == user %} my {% else %} {{ user.username }}'s {% endif %} friends</a>
        <hr>

    </div>

    <div class="bg-light col-md-8 col-lg-7 rounded my-lg-5 text-center mx-auto small">
        <h3>POSTS:</h3>

        {% for post in posts %}
            {% include "Posts/post.html" %}
        {% endfor %}

        {% include "Accounts/pagination.html" with page_obj=posts %}

    </div>
</div>


{% endblock %}