<div class="col-md-10 text-left bg-white rounded my-3  pb-2 mx-auto border border-secondary">
    <!--Post author-->
    <div class='col-md-1 pt-3'>
        {% if title != user %}
            <a class="text-decoration-none" href="{% url 'Accounts:profile_view' post.user %}">
                <h3>{{ post.user }}</h3>
            </a>
        {% endif %}
    </div>
    <!--Post text-->
    {{ post.post_text }}
    <br>
    <hr>
    <!--Post navigation-->
    <div class='small d-flex'>
        <form action="{% url 'Posts:like_post' post.id %}" method='POST'>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            {% if request.user not in post.users_like.all %}
            <button type='submit' name='post_id' class="btn btn-primary btn-sm mr-2">Like</button>
            {% else %}
            <button type='submit' name='post_id' class="btn btn-primary btn-sm mr-2">Unlike</button>
            {% endif %}
        </form>
            <p class="mr-2">Total likes: {{ post.total_likes }}</p>
        <a href="{% url 'Posts:post_view' post.user post.id post.slug %}" class="text-right mr-2">View post</a>
        {% if request.user == post.user %}
            <a href="{% url 'Posts:delete_post' post.id %}" class="mr-2">remove</a>
            <a href="{% url 'Posts:edit_post' post.id %}" class="mr-2">edit</a>
        {% endif %}
        <p class="mr-2">Published: {{post.created_date}}</p>
        {% if post.updated_date %}
            <p class="mr-2">Edited: {{post.updated_date}}</p>
        {% endif %}
    </div>
    <hr>
    <!--Comments-->
    <div id="comments_section">
        {% for comment in post.comments.all %}
            <div class="bg-light rounded p-2 mb-2 ml-5 border border-primary">
                <div class='col-md-1'>
                    <a class="text-decoration-none" href="{% url 'Accounts:profile_view' comment.author %}">
                <h5>{{ comment.author }}</h5>
                </div>
            </a>
                <div class="mb-2">{{ comment.comment_text }}</div>
                <div class="small">Added: {{ comment.created_date }}
                    {% if created_date %}
                        {{ comment.updated_date }}
                    {% endif %}
                    {% if request.user == comment.author %}
                        <a href="{% url 'Posts:remove_comment' comment.id %}" class="ml-2">remove</a>
                        <a href="{% url 'Posts:edit_comment' comment.id %}" class="ml-2">edit</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <!--Comment form-->
    <form action="{% url "Posts:add_comment" post.id %}" method="POST" class="d-flex">
        {{ comment_form.comment_text }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input class="btn btn-outline-secondary align-self-end ml-2" type="submit" value="Add comment">
    </form>


</div>